#banner{
	background-image: url(https://images.pexels.com/photos/9726802/pexels-photo-9726802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*stretches the  image to cover the whole element*/
	background-size: cover;
	/*used to select a part of the image that will be used for the cover*/
	background-position: center;

}
